<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ARF</title>



</head>
<body>

    <form action="">
        <legend>h2 Cadastrar Serviço</legend>
        <fieldset>
            <label for="Servico">Serviço:</label>
            <input type="text" id="Servico" placeholder="Digite o tipo de servico">
        </fieldset>
    </form>

</body>
</html>
/resources/css/styles.css
